/*this is also my code they didnt provide me any css*/

body {
    background-color: purple;
}

h1 {
    color: white;
}

p {
    color: fuchsia;
}

ul {
    background-color: silver;
}

p2 {
    color: white;
}