/*this is also all my code
they only provided me with the example :) */
body {
    background-color: rgb(212, 212, 212);
    margin: 31px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: rgb(98, 171, 130);
    background-color: black;
    border: 3px;
    border-radius: 12px;
    padding: 12px;
    margin: auto;
}

h2 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

p {
    border: 3px dotted rgb(98, 171, 130);
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 9px;
}

h3 {
    background-color: black;
    color: rgb(98, 171, 130);
    border: 3px;
    border-radius: 12px;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: italic;
}

h1, h2, h3 {
    text-align: center;
}
.japanese {
    font-weight: bold;
}

ol, ul {
    font-weight: bold;
    background-color: rgb(129, 129, 129);
    border: 3px solid white;
    border-radius: 12px;
}

li {
    padding: 12px;
    font-family: sans-serif;
    font-weight: 300;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 900;
    color: white;
    background-color: rgb(98, 171, 130);
    padding: 12px;
    border-radius: 12px;
}

.button:hover {
    text-decoration: line-through;
    background-color: white;
    color: rgb(98, 171, 130);
}

ul {
    color: white;
}

p2 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}